<div class="row">
    @foreach (var user in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@user.FirstName @user.LastName</h5>
                    <p class="card-text">@user.Email</p>
                    <p class="card-text"><strong>Bio:</strong> @user.Bio</p>
                    <p class="card-text"><strong>Private Profile:</strong> @(user.IsPrivate ? "Yes" : "No")</p>

                    <!-- Buton pentru a vedea profilul utilizatorului -->
                    <a href="@Url.Action("Show", "ApplicationUser", new { id = user.Id })" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    }
</div>
